<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Hotel"
             connectionString="Data Source=DESBROKEN;Initial Catalog=Hotel;Integrated Security=True;Trust Server Certificate=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
